[project]
name = "whenever"
description = "Typesafe datetimes powered by Rust's chrono library"
requires-python = ">=3.8"
authors = [
    {name = "Arie Bovenberg", email = "a.c.bovenberg@gmail.com>"}
]
license = "MIT"
classifiers = [
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
dynamic = ["version"]

[project.optional-dependencies]
test = [
  "pytest~=7.4",
  "black~=23.3",
  "isort~=5.12",
  "pytest-mypy-plugins~=3.0",
  "hypothesis~=6.0",
  "pytest-benchmark~=4.0",
]


[tool.maturin]
python-source = "py"
module-name = "whenever._whenever"
features = ["pyo3/extension-module"]

[tool.black]
line-length = 79
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.hg
  | \.git
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | build
  | dist
)/
'''

[tool.isort]
profile = 'black'
line_length = 79

[tool.mypy]
warn_unused_ignores = true
strict = true

[[tool.mypy.overrides]]
module = [
    "tests.*",
]
check_untyped_defs = true
disable_error_code = ["no-untyped-def"]

[build-system]
requires = ["maturin>=1.3,<2.0"]
build-backend = "maturin"
