[tool.poetry]
name = "whenever"
version = "0.3.4"
description = "Strict, predictable, and typed datetimes"
authors = ["Arie Bovenberg <a.c.bovenberg@gmail.com>"]
license = "MIT"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed",
]
packages = [
    { include = "whenever", from = "src" },
]
documentation = "https://whenever.readthedocs.io"
readme = "README.rst"
repository = "https://github.com/ariebovenberg/whenever"
keywords = ["datetime"]

[tool.poetry.dependencies]
python = ">=3.8.1"
backports-zoneinfo = {version = "^0.2.1", python = "<3.9"}
tzdata = {version = ">=2020.1", markers = 'sys_platform == "win32"'}

[tool.poetry.group.test.dependencies]
pytest = ">=7.0.1,<9.0.0"
pytest-cov = "^4.0.0"
pytest-benchmark = "^4.0.0"
pytest-mypy-plugins = "^3.0.0"
hypothesis = "^6.68.2"
freezegun = "^1.3.1"

[tool.poetry.group.typecheck.dependencies]
mypy = "^1.0.0"
pytest-mypy-plugins = "^3.0.0"

[tool.poetry.group.linting.dependencies]
black = "^24"
flake8 = ">=6,<8"
isort = "^5.7.0"
slotscheck = "^0.17.2"

[tool.black]
line-length = 79
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.hg
  | \.git
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | build
  | dist
)/
'''

[tool.isort]
profile = 'black'
line_length = 79

[tool.mypy]
warn_unused_ignores = true
strict = true

[[tool.mypy.overrides]]
module = [
    "tests.*",
]
check_untyped_defs = true
disable_error_code = ["no-untyped-def"]

[build-system]
requires = ["poetry-core>=1.1.0"]
build-backend = "poetry.core.masonry.api"
