[tool.poetry]
name = "whenever"
version = "0.0.4"
description = "Typesafe datetime for Python"
authors = ["Arie Bovenberg <a.c.bovenberg@gmail.com>"]
license = "MIT"
classifiers = [
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
packages = [
    { include = "whenever", from = "src" },
]
documentation = "https://whenever.readthedocs.io"
readme = "README.rst"
include = ["CHANGELOG.rst", "README.rst"]
repository = "https://github.com/ariebovenberg/whenever"
keywords = ["datetime"]

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"

[tool.poetry.group.test.dependencies]
pytest = "^7.0.1"
pytest-cov = "^4.0.0"
pytest-benchmark = "^4.0.0"
pytest-mypy-plugins = "^3.0.0"
hypothesis = "^6.68.2"

[tool.poetry.group.typecheck.dependencies]
mypy = "^1.0.0"
pytest-mypy-plugins = "^3.0.0"

[tool.poetry.group.linting.dependencies]
black = "^23.1"
flake8 = "^6.0.0"
isort = "^5.7.0"
slotscheck = "^0.17.0"

[tool.black]
line-length = 79
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.hg
  | \.git
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | build
  | dist
)/
'''

[tool.isort]
profile = 'black'
line_length = 79

[tool.mypy]
warn_unused_ignores = true
strict = true

[[tool.mypy.overrides]]
module = [
    "tests.*",
]
check_untyped_defs = true
disable_error_code = ["no-untyped-def"]

[build-system]
requires = ["poetry-core>=1.1.0"]
build-backend = "poetry.core.masonry.api"
